<main id="homepage">

    <h1>SPRINT</h1>


    <div class="auth">
        <a href="/auth/signup" class="anchorAuth">Signup</a><br /><br />
        <a href="/auth/login" class="anchorAuth">Login</a><br /><br />
    </div>

</main>