<main id="signup">
    <form id="form" action="/auth/signup" method="POST">
        <h2>Signup</h2>

        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="Your username">

        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="********">




        {{!-- error message in case of not entering some input --}}

        {{#if errorMessage}}
        <div class="error-message">
            <p>{{ errorMessage }}</p>
        </div>
        {{/if}}

        <button type="submit">Create account</button>

        <p>
            already have an account? <a href="/auth/login" class="anchorAuth">Login</a>
        </p>


    </form>

</main>